In [48]:
import pymongo

In [49]:
client=pymongo.MongoClient("localhost:27017")

In [50]:
db=client["Telephone_directory"]

In [51]:
# creating new database
mycollection=db["person's_details"]

In [52]:
# inserting documents to the collection
datalist=[{"name":"hariharan","phone":1234567890,"place":"chennai"},{"name":"nikitha","phone":1234512345,"place":"madurai"},\
         {"name":"srinivasan","phone":7878978789,"place":"erode"},{"name":"vicknesh","phone":2233445566,"place":"theni"},\
          {"name":"rajan","phone":142644335,"place":"kanyakumari"}]
mycollection.insert_many(datalist)

In [53]:
# retriving the inserted documents
for i in mycollection.find():
    print(i)

{'_id': ObjectId('621dbcf9aab7abe691a76157'), 'name': 'hariharan', 'phone': 1234567890, 'place': 'chennai'}
{'_id': ObjectId('621dbcf9aab7abe691a76158'), 'name': 'nikitha', 'phone': 1234512345, 'place': 'madurai'}
{'_id': ObjectId('621dbcf9aab7abe691a76159'), 'name': 'srinivasan', 'phone': 7878978789, 'place': 'erode'}
{'_id': ObjectId('621dbcf9aab7abe691a7615a'), 'name': 'vicknesh', 'phone': 2233445566, 'place': 'theni'}
{'_id': ObjectId('621dbcf9aab7abe691a7615b'), 'name': 'rajan', 'phone': 142644335, 'place': 'kanyakumari'}

In [54]:
# updating the documents in collection
mycollection.update_one({"name":"hariharan"},{"$set":{"name":"lavanya"}})
for i in mycollection.find():
    print(i)

{'_id': ObjectId('621dbcf9aab7abe691a76157'), 'name': 'lavanya', 'phone': 1234567890, 'place': 'chennai'}
{'_id': ObjectId('621dbcf9aab7abe691a76158'), 'name': 'nikitha', 'phone': 1234512345, 'place': 'madurai'}
{'_id': ObjectId('621dbcf9aab7abe691a76159'), 'name': 'srinivasan', 'phone': 7878978789, 'place': 'erode'}
{'_id': ObjectId('621dbcf9aab7abe691a7615a'), 'name': 'vicknesh', 'phone': 2233445566, 'place': 'theni'}
{'_id': ObjectId('621dbcf9aab7abe691a7615b'), 'name': 'rajan', 'phone': 142644335, 'place': 'kanyakumari'}

In [55]:
# deleting a document in the collection
mycollection.delete_one({"name":"rajan"})
for i in mycollection.find():
    print(i)

{'_id': ObjectId('621dbcf9aab7abe691a76157'), 'name': 'lavanya', 'phone': 1234567890, 'place': 'chennai'}
{'_id': ObjectId('621dbcf9aab7abe691a76158'), 'name': 'nikitha', 'phone': 1234512345, 'place': 'madurai'}
{'_id': ObjectId('621dbcf9aab7abe691a76159'), 'name': 'srinivasan', 'phone': 7878978789, 'place': 'erode'}
{'_id': ObjectId('621dbcf9aab7abe691a7615a'), 'name': 'vicknesh', 'phone': 2233445566, 'place': 'theni'}